.menu {
    -moz-border-radius:20px 0 0 0;
    -moz-box-shadow: 0 1px 0 #ad392d, inset 0 1px 0 white;
    -webkit-border-radius:20px 0 0 0;
    -webkit-box-shadow: 0 1px 0 #ad392d, inset 0 1px 0 white;
    background: #ecf0f1;
    border-radius:20px 0 0 0;
    box-shadow: 0 1px 0 #ad392d, inset 0 1px 0 white;
    box-shadow: 20px 20px 20px;
    margin:10% auto;
    padding: 5%;
	position:relative;
    text-align:center;
}

.menu input[type="text"], input[type="email"], input[type="password"], select {
    width: 50% !important;
}

input[type="submit"] {
    background: #3498db;
    color: #fff;
}

.formlink a, .formlink a:visited {
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    color: #7f8c8d;
    font-weight:400;
    text-decoration:none;
    text-shadow:1px 1px 0 white;
    transition: all .3s ease-in-out;
}

.formlink a:hover {
    cursor: pointer;
}

.formlink li {
    bottom:5%;
    left:35%;
    list-style:none;
    position:relative;
}
