canvas {
    background-color: #ecf0f1;/*#b9bebf;*/
    border: 1px solid #e7e7e7;
    /* width: 100%; */


    /*image-rendering: optimizeSpeed;             /* Older versions of FF*/
    /*image-rendering: -moz-crisp-edges;          /* FF 6.0+*/
    /* image-rendering: -webkit-optimize-contrast; /* Webkit (non standard naming)*/
    /* image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+)*/
    /* image-rendering: crisp-edges;               /* Possible future browsers.*/
    /* -ms-interpolation-mode: nearest-neighbor;   /* IE (non standard naming)*/

}

.gameDiv {
    margin-left: -300px;
    margin-right: -300px;
}

.whiteFont {
    color: #fff;
}

.inputMsg {
    margin-left: 50px;
    margin-right: -50px;
}

input[type="submit"] {
    background: #3498db;
    color: #fff;
}

.chatText {
    background-color: #ecf0f1;
    border: 1px solid #e7e7e7;

    /* height: 100%; */

    max-height: 600px;
    min-height: 200px;
    overflow-y:scroll;
    width: 100%;
    margin-bottom: 5px;
}

.submitBTN {
    align-items: center;
}

.chatForm input[type="text"] {
    /* width: 100%; */
    width: 230px;

}
/* .chatForm input {
    background-color: #ecf0f1;
    border:3px solid #000000;

    max-width: 1050px;
    width: 100%;
} */
