<!-- <div *ngIf="selection" class="container">
    <div class="menu">
        <div class="row">
            <div class="demo-3 col-md-4">
                <div class="demo-3 col-md-4">

                </div>
            </div>
            <div class="demo-3 col-md-4">

            </div>
            <div class="demo-3 col-md-4">

            </div>
        </div>
    </div>
    <ul class="list-group">
        <button type="button" (click)="play()" class="list-group-item list-group-item-action" >Play</button>
        <button type="button" (click)="onBackClick()" class="list-group-item list-group-item-action">Back</button>
    </ul>
</div> -->
<h2 class="whiteFont">{{gameTime | async}}</h2>
<canvas #mainCanvas width='1250' height='750'></canvas>

    <!-- <div class="col-lg-3">
        <div id="chat-text">
        </div>
        <form id="chat-form">
            <input id="chat-input" type='text'>
        </form>
    </div> -->
