<h2 class="page-header">Create lobby</h2>
<form (submit)="onLobbySubmit()">
    <div class="form-group">
        <label>LobbyName</label>
        <input type="text" [(ngModel)]="lobbyName" name="lobbyName" class="form-control">
    </div>
    <div class="form-group">
        <label>LobbyPassword</label>
        <input type="password" [(ngModel)]="lobbyPassword" name="lobbyPassword" class="form-control">
    </div>
    <div class="form-group">
        <label>Max player number</label>
        <select class="form-control" id="sel1">
            <option>2</option>
            <option>4</option>
            <option>6</option>
        </select>
    </div>
    <!-- <div class="form-group">
        <label>Map</label>
        <input type="text" [(ngModel)]="email" name="email" class="form-control" >
    </div> -->
    <!-- <div class="form-group">
        <label>Password</label>
        <input type="password" [(ngModel)]="password" name="password" class="form-control">
    </div> -->
    <input type="submit" class="btn btn-primary" value="Create">
</form>
<ul class="list-group">
    <button type="button" (click)="onBackClick()" class="list-group-item list-group-item-action">Back</button>
</ul>
